@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }
<<<<<<< HEAD
  &__photoDiv{
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
  }
=======
>>>>>>> 9d14ba355c15a3887b654ad96b24b4b58eb2171a

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}