@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    width: 50px;
    height:50px;
    color: $color-base;
    background-color: $color-primary;
    border-radius: 50%;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: 40px;
    margin-right: 40px;
      // top: 40px;
      // left: 40px;
    @include margin-top(1);
    transition:all .3s;

    &:hover,
    &:focus{
      background-color:$color-primary;
      color:$color-white;
      letter-spacing:1px;
    }

  }

}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 40px;
      left: 40px
    }

  }

}