@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
<<<<<<< HEAD
    color:$color-primary;
=======
>>>>>>> 9d14ba355c15a3887b654ad96b24b4b58eb2171a
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
<<<<<<< HEAD
        font-weight: 500;
        border: 0;
        transition:all .3s; 

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px solid $color-base;
=======
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
>>>>>>> 9d14ba355c15a3887b654ad96b24b4b58eb2171a
        }

        &--active {
          color: $color-base;
<<<<<<< HEAD
          // border-bottom: 1px solid $color-base;
=======
          border-bottom: 1px solid $color-base;
>>>>>>> 9d14ba355c15a3887b654ad96b24b4b58eb2171a
        }

      }

    }

  }

}